NEON_CHAIN_ID={{ neonevm_chain_id|default(neonevm_chains[neonevm_network]) }}
POSTGRES_DB={{ postgres_db }}
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
SOLANA_URL={{ neonevm_solana_rpc }}
CONFIG=devnet