#!/bin/bash

set -x

docker run -d --network=host \
--env-file "{{ neonevm_config_dir }}"docker.env \
-v {{ neonevm_solana_keypair }}:/root/.config/solana/id.json \
--name neonevm \
neonlabsorg/proxy:{{ neonevm_version }}
